.calculator {
  width: 240px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.display input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.result {
  font-size: 24px;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color:gray;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4caf50;
  color: #fff;
}

button:active {
  background-color: #45a049;
}

button:nth-child(4n) {
  background-color: #ff9800;
  color: #fff;
}

button:nth-child(4n):hover {
  background-color: #e68900;
}

button:nth-child(4n):active {
  background-color: #cc7a00;
}

button.clear {
  background-color: #f44336;
  color: #fff;
}

button.clear:hover {
  background-color: #d32f2f;
}

button.clear:active {
  background-color: #c62828;
}

.h{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: blue;
}